---
import Layout from "../layouts/Layout.astro";
import Link from "../components/link/link.astro";

import fg from 'fast-glob';
import path from 'path';

export let routes: string[] = [];

(async () => {
  try {
    const currentWorkingDir = process.cwd();
    console.log('Current working directory:', currentWorkingDir);

    const collections = await fg(path.resolve(currentWorkingDir, 'src/pages/*'), { onlyDirectories: false });
    routes = collections.map((collection) => collection.replace('./src/pages/', '/').replace('.astro', ''));

  } catch (error) {
    console.error('Error while globbing:', error);
  }
})();

---

<Layout title="Welcome to Astro.">
  <main>
    
    <ul>
      {

        routes.map((route) => (
          <li>
            <Link href={route} label={route} />
          </li>
        ))
      }
    </ul>
  </main>

  <style lang="scss"></style>
</Layout>
