---
import Layout from "../layouts/Layout.astro";
import Link from "../components/link/link.astro";

import fg from 'fast-glob';

const collections: string[] = fg.sync("./src/pages/*", { onlyDirectories: false })

const routes = collections.map((collection) => {
  return collection.replace('./src/pages/', '/').replace('.astro', '')
})

---

<Layout title="Welcome to Astro.">
  <main>
    <ul>
      {
        routes.map((route) => (
          <li>
            <Link href={route} label={route} />
          </li>
        ))
      }
    </ul>
  </main>

  <style lang="scss"></style>
</Layout>
