---
import Layout from "../layouts/Layout.astro";

// const modules = import.meta.glob("/src/pages/*");

const routes = await Astro.glob("/src/pages/*").then((files) => {
  return files
    .map((file) => {
      if (!file.url) return;

      return file.url;
    })
    .filter((url) => url);
});
---

<Layout title="Welcome to Astro.">
  <main>
    <ul>
      {
        routes.map((route) => (
          <li>
            <a href={route}>{route}</a>
          </li>
        ))
      }
    </ul>
  </main>

  <style lang="scss"></style>
</Layout>
