---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Playground - three">
  <div class="sequence__scroll-container">
    <div class="container" data-container-element></div>
  </div>
</Layout>

<script>
  const name  = 'kadena-sequence'

  import(`../components/${name}/experience.ts`);
</script>

<style>
  .sequence__scroll-container {
    width: 100%;
    height: 400vh;
  }
  .container {
    width: 100%;
    height: 100vh;
    background-color: #000;
    position: fixed;
    inset: 0;
  }
</style>
