<!-- ---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Cone animation">
  <div class="container" data-container-element></div>
</Layout>

<script>
  import { Experience } from "@/components/kadena-cone-animation/experience";

  new Experience();
</script>

<style>
  .container {
    width: 100%;
    height: 100vh;
    position: fixed;
    inset: 0;
  }
</style> -->
