---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Cone">
  

  <div id="container"></div>

</Layout>

<script>
  import  "@/components/voronoi-cells-v1/experience";  

  

</script>

<style>
  .container {
    width: 100%;
    height: 100vh;
    position: fixed;
    inset: 0;
    background-color: grey;
  }
</style>
